name: Kotlin Unit Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Клонування репозиторію
        uses: actions/checkout@v4

      - name: Встановлення JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Надання прав на виконання Gradle
        run: chmod +x ./gradlew

      - name: Запуск юніт-тестів з виводом результатів
        run: ./gradlew test